.div {
  display: flex;
  background: #eee;
  text-align: center;
  justify-content: center;
}
.table {
  border-collapse: collapse;
}

/*
.thead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.td {
  border: none;
  padding: 16px 313px;
}
*/

.input {
  width: 6rem;
}
input {
  font-size: 20px;
  padding: 6px;
}

input[type='number']::-webkit-inner-spin-button {
  all: unset;
  min-width: 21px;
  min-height: 45px;
  margin: 17px;
  padding: 0px;
  background-image: linear-gradient(
      to top,
      transparent 0px,
      transparent 16px,
      #fff 16px,
      #fff 26px,
      transparent 26px,
      transparent 35px,
      #000 35px,
      #000 36px,
      transparent 36px,
      transparent 40px
    ),
    linear-gradient(
      to right,
      transparent 0px,
      transparent 10px,
      #000 10px,
      #000 11px,
      transparent 11px,
      transparent 21px
    );
  transform: rotate(90deg) scale(0.8, 0.9);
  cursor: pointer;
}

button {
  margin-left: 10px;
}
